<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="/Js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/Js/jquery.cookie.js" type="text/javascript"></script>
    <link href="../../Resources/css/register/style.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .errorMessage
        {
            margin-top: -10px;
            margin-left: 43px;
        }
        a:link
        {
            color: Blue;
            text-decoration: none;
        }
        a:visited
        {
            color: Blue;
            text-decoration: none;
        }
        a:hover
        {
            color: Blue;
            text-decoration: none;
        }
        a:active
        {
            color: Blue;
            text-decoration: none;
        }
    </style>
</head>
<body id="login_body">
    @RenderBody()
</body>
</html>
